/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d62828; /* Rojo oscuro */
  color: black; /* Letras negras */
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Sala Jorge Donn */
.sala-jorge-donn {
  text-align: center;
  margin-top: 1rem;
}

.sala-jorge-donn h2 {
  color: black; /* Letras negras */
}
