a[href^="https://wa.me"]  {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: #25d366;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

a[href^="https://wa.me"]:hover  {
  background-color: #128c7e;
}
